<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">
            LeadFlow CRM
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </nav>

    <!-- HERO SECTION -->
    <section class="hero">
        <h1>Smart Lead Management System</h1>
        <p>Streamline lead management with automated email communication,
    intelligent status tracking, and an organized CRM workflow
    designed for efficient business operations.</p>
        <a href="#lead-form" class="hero-btn">Submit New Lead</a>
    </section>

    <!-- FORM SECTION -->
    <section class="form-section">
        <div class="form-card">
            <h2 id="lead-form">Lead Submission Form</h2>
            <form method="POST">
                <label>Name</label>
                <input type="text"
                       name="name"
                       placeholder="Enter your name"
                       required>
                <label>Email</label>
                <input type="email"
                       name="email"
                       placeholder="Enter your email"
                       required>
                <label>Phone Number</label>
                <input type="text"
                       name="phone"
                       placeholder="Enter your mobile number"
                       pattern="[0-9]{10}"
                       required>
                <label>Business Type</label>
                <select name="business">
                    <option value="Restaurant">Restaurant</option>
                    <option value="Library">Library</option>
                    <option value="Home">Home</option>
                    <option value="College">College</option>
                </select>
                <label>Message</label>
                <textarea name="message"
                          rows="5"
                          placeholder="Enter your message"></textarea>
                <button type="submit">
                    Submit Lead
                </button>
            </form>
        </div>
    </section>
</body>
</html>
